.deviceCard {
	padding: 2em 1em;
  border: 1px solid #ccc;
  flex-basis: 6em;
  margin-right: 1em;
  text-align: center;
  cursor: pointer;

  &:last-of-type {
  	margin: 0;
  }

  &:hover {
  	background: #f2f2f2;
  }
}